p {
    color: green;    
    text-decoration: none;
}

a {
    font-family: 'Mali', cursive;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #3A3335;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background: #89C6B0; /* Old browsers */
    background: -moz-linear-gradient(top, #89C6B0 0%, #cbebff 47%, #a1dbff 100%);
    background: -webkit-linear-gradient(top, #89C6B0 0%,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(to bottom, #89C6B0 0%,#cbebff 47%,#a1dbff 100%);
  }
  
  a:hover {
  color: #505168;
  background: #a1dbff; /* Old browsers */
  background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #89C6B0 100%);
  background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
  background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
  }
  
  a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


